<html>
<head>
    <title>Products</title>
</head>
<body>
    <div>
        <form method="post">
            <div>Add product:</div>
            <input type="text" name="name" placeholder="Enter name of product"/>
            <input type="text" name="description" placeholder="Enter description of product"/>
            <button type="submit">Add</button>
        </form>
    </div>
    <div>Products list:</div>
    <form method="post" action="filter">
        <input type="text" name="filter"/>
        <button type="submit">Search</button>
    </form>
    {{#products}}
    <div>
        <b>{{id}}</b>
        <span>{{name}}</span>
        <i>{{description}}</i>
    </div>
    {{/products}}
</body>
</html>